<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
    <form #form="ngForm" class="cap-form">
        <mat-form-field>
            <input matInput type="email" placeholder="user@example.com" name="email" [(ngModel)]="form.email">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" name="password" [(ngModel)]="form.password">
        </mat-form-field>

        <!-- <mat-dialog-actions> -->
        <button mat-button mat-dialog-close>Cancel</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-button [mat-dialog-close] type="submit" (click)="onSubmit(form.email, form.password)">Login</button>
    </form>
</mat-dialog-content>