<section class="section">
  <div class="container">
    <h1 class="title">Profilseite</h1>
    <h2 class="subtitle">
      Auf dieser Seite können Sie Eigenschaften ihres Profils und ihrer Organisation einsehen und bearbeiten.
    </h2>
    <div class="columns">
      <div class="column is-half">
        <div class="content">
          <h3>Mein Profil</h3>
          <p>
            <b>Id:</b> 201361
          </p>
          <p>
            <b>Vorname:</b> Erwin
          </p>
          <p>
            <b>Nachname:</b> Erwinson
          </p>
          <p>
            <b>Email:</b> erwin_erwinson@verbew.de
          </p>
          <p>
            <b>Alias:</b> DoppleE
          </p>
          <p>
            <b>Rollen:</b>
            <span class="tag is-primary">
              Rolle 1
            </span>
            <span class="tag is-primary">
              Rolle 2
            </span>
          </p>
        </div>
      </div>
      <div class="column is-half">
        <div class="content">
          <h3>Meine Organisation</h3>
          <p>
            <b>Id:</b> 12
          </p>
          <p>
            <b>Name:</b> Verbundenes Bewusstsein
          </p>
          <p>
            <b>Coordinator:</b> Ich
          </p>
          <p>
            <b>Aktuelle Version:</b> 1.1.1
          </p>
          <p>
            <b>User:</b> 30
          </p>
          <p>
            <b>Beteiligte User:</b> 20
          </p>
        </div>
      </div>
    </div>
  </div>
</section>