<section class="section">
    <div class="container">
        <h1 class="title">Profilseite</h1>
        <h2 class="subtitle">
            Auf dieser Seite können Sie Eigenschaften ihres Profils und ihrer Organisation einsehen und bearbeiten.
        </h2>
        <div class="columns">
            <div class="column is-half">
                <div class="content">
                    <h3>Hello World</h3>
                    <p>
                      asdasdasdasdasd asd asdasd asdasd asd
                    </p>
                    <h4>Second level</h4>
                    <p>
                      asdasdasdasdasd asd asdasd asdasd asd
                    </p>
                </div>
            </div>
            <div class="column is-half">
                <div class="content">
                    <h3>Hello World</h3>
                    <p>
                      asdasdasdasdasd asd asdasd asdasd asd
                    </p>
                    <h4>Second level</h4>
                    <p>
                      asdasdasdasdasd asd asdasd asdasd asd
                    </p>
                </div></div>
        </div>
    </div>
</section>