$green-01:#F4F7EA;
$green-02:#EDF3DD;
$green-03:#E2EBC7;
$green-04:#CFDFA2;
$green-05:#AFCA66;
$green-06:#7BA800;
$green-07:#577600;
$green-08:#3C5200;
$green-09:#2A3A00;
$green-10:#1E2800;
$green-11:#151C00;

$grey-01:#F4F6F6;
$grey-02:#EDF1F1;
$grey-03:#E2E9E9;
$grey-04:#D0DADA;
$grey-05:#B1C3C3;
$grey-06:#7E9B9B;
$grey-07:#596D6D;
$grey-08:#3E4C4C;
$grey-09:#2B3535;
$grey-10:#1E2525;
$grey-11:#151A1A;

$orange-01:#FEF8ED;
$orange-02:#FEF4E2;
$orange-03:#FEEDD0;
$orange-04:#FEE2B1;
$orange-05:#FDCF7E;
$orange-06:#FDB02A;
$orange-07:#B07B1D;
$orange-08:#7B5614;
$orange-09:#573C0E;
$orange-10:#3D2A0A;
$orange-11:#2B1E07;

$blue-01:#EFF6FB;
$blue-02:#E5F0F9;
$blue-03:#D4E7F5;
$blue-04:#B8D7EF;
$blue-05:#89BEE5;
$blue-06:#3C93D4;
$blue-07:#2A6794;
$blue-08:#1D4868;
$blue-09:#143249;
$blue-10:#0E2333;
$blue-11:#0A1924;

$red-01:#FBECED;
$red-02:#F9E0E2;
$red-03:#F6CDD0;
$red-04:#F0ABB0;
$red-05:#E7767D;
$red-06:#D81A28;
$red-07:#96121C;
$red-08:#6A0D13;
$red-09:#4A090E;
$red-10:#34060A;
$red-11:#250407;