<div class="card">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="card-content">
      <h1>Login</h1>
    <div class="field">
      <p class="control">
        <input
          class="input"
          type="email"
          placeholder="Email"
          required
          [(ngModel)]="model.email"
          name="email"
        >
      </p>
    </div>
    <div class="field">
      <p class="control">
        <input
          class="input"
          type="password"
          placeholder="Password"
          required
          [(ngModel)]="model.password"
          name="password"
        >
      </p>
    </div>
    <div class="field">
      <p class="control">
        <input
          type="checkbox"
          name="remember"
          [(ngModel)]="model.remember"
        >
        Anmeldung merken
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="button is-text">
          SignUp
        </button>
        <button type="submit" [disabled]="loginForm.invalid" class="button is-primary">
          Login
        </button>
      </p>
      <p class="help is-danger" *ngIf="!!error">{{error.message}}</p>
    </div>
  </form>
</div>