@import "./../../../styles";
:host {
  .card {
    position: absolute;
    top: calc(50vh - 120px + 25px);
    width: 400px;
    left: calc(50% - 200px);
  }
  .validation-error {
    border-color: red;
    background-color: #fff0f0;
  }
}