<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
    <form [formGroup]="userLoginForm">
        <mat-form-field>
            <input type="email" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">

        </mat-form-field>
        <!-- <mat-dialog-actions> -->
        <button mat-button [mat-dialog-close]>Cancel</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
        <button mat-button type="submit" (click)="onSubmit()">Login</button>
        <p *ngIf="error">{{error.message}}</p>
        <p *ngIf="loading">loadinganimation</p>
    </form>
</mat-dialog-content>