<aside>
    <h3>Filter</h3>
    <ul>
        <li><a>filter 1</a></li>
        <li><a>filter 2</a></li>
        <li><a>filter 3</a></li>
    </ul>
    <h3>Struktur</h3>
    <ul>
        <li *ngFor="let c of list">
            <app-aside-category [category]="c"></app-aside-category>
        </li>
    </ul>

</aside>
<main>
    <p>
        surveyPage works!
    </p>
    survey<br>survey<br>survey<br>survey<br>survey<br>survey<br>survey<br>survey<br>survey<br> survey
    <br>survey<br>survey<br>survey<br>survey<br>survey<br>survey<br>survey<br>survey<br> survey
    <br>survey<br>survey<br>survey<br>survey<br>survey<br>survey<br>survey<br>survey<br> survey
    <br>survey<br>survey<br>survey<br>survey<br>survey<br>survey<br>survey<br>survey<br> survey
    <br>survey<br>survey<br>survey<br>survey<br>survey<br>survey<br>survey<br>survey<br>
</main>