<section class="section">
  <div class="container">
    <h1 class="title">Herzlich Willkommen, {{this.auth.user.firstName}}!</h1>
    <h2 class="subtitle">
      Auf dieser Seite befinden sich Verweise auf folgende Aktionen:
    </h2>
    <div class="container">
      Default Links
      <div class="gallery">
        <a *ngFor="let link of default_links" routerLink="/{{link.link}}">
          <p class="title">{{link.title}}</p>
          <p class="content">
            {{link.description}}
          </p>
        </a>
      </div>
    </div>
  </div>
  <div class="container" *ngFor="let field of organisation_fields">
    {{field.organisation.name}}
    <!-- <div class="gallery">
      <a *ngFor="let link of organisation_links.filter((link=>checkAccess(link, rolesInOrganisation)))" routerLink="/link.link">
        <p class="title">link.title</p>
        <p class="content">
          link.description
        </p>
      </a>
    </div> -->
  </div>
  <!-- <div class="container" *ngFor="let rolesInOrganisation of auth.user.rolesInOrganisations">
        <h1 class="is-size-4" *ngIf="auth.user.rolesInOrganisations.length>1">{{rolesInOrganisation.organisationName}}</h1>
        <div class="columns" *ngFor="let column of organisation_links">
            <div class="column" *ngFor="let link of column">
                <a class="box" routerLink="/{{link.link}}" *ngIf="link.implemented">
                    <p class="title">{{link.title}}</p>
                    <p class="content">
                        {{link.description}}
                    </p>
                </a>
                <a class="box disabled" *ngIf="!link.implemented">
                    <p class="title">{{link.title}}</p>
                    <p class="content">
                        {{link.description}}
                    </p>
                </a>
            </div>
        </div>
    </div> -->
</section>