<header>
    <a class="logo">
        <img src="assets/images/logo.svg" alt="">
    </a>
    <a (click)="toggle(true)" class="material-icons">
        menu
    </a>
    <a (click)="toggle(false)" class="material-icons">
        account_box
    </a>
</header>
<nav class="body" [ngClass]="navigationState">
    <ul>
        <li><a>testlink</a></li>
        <li><a>testlink</a></li>
        <li><a>testlink</a></li>
        <li><a>testlink</a></li>
        <li><a>testlink</a></li>
    </ul>
</nav>
<div class="body" [ngClass]="loginState">
    <div class="container">
        <h1>Anmelden</h1>
        <form>
            <input type="text" class="form-control" id="organisation" placeholder="Organisation" required>
            <input type="text" class="form-control" id="name" placeholder="Name" required>
            <input type="password" class="form-control" id="password" placeholder="Password" required>

            <button type="submit" class="btn btn-success">Anmelden</button>

        </form>
    </div>
</div>