$primary: #efefef;//#879797;
$primary-invert: #8b9a9a;

$success: #6e8b1f;
$success-invert: #fff;

$info: #6390b0;
$info-light: #d0e6f6;
$info-invert: #fff;

$danger: #ab4b52;
$danger-invert: #fff;

$warning: #f8b132;
$warning-invert: #000;

// $c: #efefef, #f4f4f3, #f7f7f7;

body {
    font-family: 'Lato', sans-serif;
}