<section>
    <div *ngFor="let field of organisation_fields">
        <h2 *ngIf="organisation_fields.length > 2" class="is-size-4">{{field.organisationName}}</h2>
      <div class="gallery">
        <a class="gallery-element" *ngFor="let link of field.links" routerLink="/{{link.link}}" [ngClass]="{'disabled' : !link.implemented}">
          <h3>{{link.title}}</h3>
          <p class="content">
            {{link.description}}
          </p>
        </a>
      </div>
    </div>
</section>
<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a
<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a
<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a
<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a
<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a
<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a
<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a