<div [formGroup]="form">
  <label [attr.for]="structure.key">{{structure.label}}</label>
  <div [ngSwitch]="structure.type">

    <input *ngSwitchCase="DTN.STRING" [formControlName]="structure.key" [id]="structure.key" [type]="text" [attr.disabled]="structure.disabled ? '' : null">

    <!-- <select *ngSwitchCase="'dropdown'" [id]="structure.key" [formControlName]="structure.key">
      <option *ngFor="let opt of structure.options" [value]="opt.key">
        {{opt.value}}
      </option>
    </select> -->

    <div *ngSwitchCase="DTN.LIST">
      <ca-dynamic-table [structure]="structure.childStructure" [content]="content[structure.key]" (selected)="onSelectRow($event)"></ca-dynamic-table>
      <div>
        <button>hinzufügen</button>
        <button *ngIf="tableSelection" routerLink="./{{ structure.key }}/{{ tableSelection['id'] }}">bearbeiten</button>
        <button *ngIf="tableSelection" (click)="delete()">löschen</button>
      </div>
    </div>

  </div>
  <div class="errorMessage" *ngIf="!isValid">{{structure.label}} is required</div>
</div>